<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--一定要导入，不然会报错-->
    <import resource="classpath:spring-dao.xml"/>
    <!--配置service层相关的bean-->

    <!--1、扫描service下的包下有自动装配的注解-->
    <context:component-scan base-package="com.wxj.service"/>

    <!--2、将业务实现类注入到spring容器中，
    可以通过配置文件和注解(上面已经开启了注解扫描)两种方式实现-->
    <bean id="bookServiceImpl" class="com.wxj.service.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"/><!---->
    </bean>

    <!--3、声明式事务，很明显直接装配了一个数据源事务管理器-->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源，因为我们可以同时使用好几个数据源，
        所以这里必须指定事务管理器管理的是哪一个数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--4、AOP横切事务,可以配合事务使用，用于指定事务开启时机；也可以做增强业务的横切-->
</beans>
